<mat-toolbar color="">
  <div class="container mb-0">
    <div class="d-flex align-items-center">
      <span>Clientes</span>
      <div class="spacer"></div>
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="container p15px">
  
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row">
    <div class="col">

      <div class="card mat-elevation-z2">
        <div class="table-responsive">
          <table class="table table-striped my-table-sm table-align-middle">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id_usuario}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefono}}</td>
                <td class="text-right">

                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editarUsuario(usuario)">
                      <mat-icon>create</mat-icon>
                      <span>Editar</span>
                    </button>             
                    <button mat-menu-item (click)="delUsuario(usuario)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>

</div>