<div class="container">
  <div class="row">

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a [routerLink]="['/usuarios']">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Usuarios</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-users icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a [routerLink]="['/anuncios']">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Anuncios</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-id-badge icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a [routerLink]="['/crear-anuncio']">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Crear Anuncio</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-plus-square icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a [routerLink]="['/clientes']">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Clientes</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-user icono-tablero"></i>
        </mat-card>
      </a>
    </div>

    <div class="col-12 col-mat-6 col-xl-4 p-2">
      <a [routerLink]="['/pedidos']">
        <mat-card class="d-flex align-items-center">
          <mat-card-title class="mb-0">Pedidos</mat-card-title>
          <span class="spacer"></span>
          <i class="fa fa-cart-arrow-down icono-tablero"></i>
        </mat-card>
      </a>
    </div> 

  </div>
</div>