<!-- <button mat-fab class="toolbar-fab" (click)="agregarImagen()" matTooltip="Agregar">
  <mat-icon>add_a_photo</mat-icon>
</button>
 -->

<div class="container py-3">

  <div class="row">

    <div class="col-12 col-md-7">
      <h4 class="text-center">Configuración</h4>

      <form #formAnuncio="ngForm" id="formAnuncio" (ngSubmit)="createAnuncio(formAnuncio)">

        <div class="form-group row">
          <label class="col-lg-3 col-form-label">Título</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="" [(ngModel)]="anuncio.titulo" name="titulo" required/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label">Fecha publicación</label>
          <div class="col-lg-9">
            <div class="input-group">
              <!-- (keydown.enter)="$event.preventDefault()" -->
              <input class="form-control" [matDatepicker]="dpFechaPublicacion" [(ngModel)]="fecha_publicacion" name="fecha_publicacion" (ngModelChange)="onFechaChange()" placeholder="yyyy-mm-dd" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-secondary" (click)="dpFechaPublicacion.open()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
            <mat-datepicker touchUi="true" #dpFechaPublicacion></mat-datepicker>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label">Imagen</label>
          <div class="col-lg-9">
            <input class="form-control" type="file" accept="image/*;capture=camera" name="img_src" #inputImage (change)="readImage($event, inputImage.files, anuncio)"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-9 offset-lg-3"></div>
          <!--<button type="button" class="btn btn-primary" (click)="clickInputImage(inputImage)">Seleccionar Imagen</button>
           <button type="button" class="btn btn-primary" (click)="uploadImage()">Subir Imagen</button>
          <button type="button" class="btn btn-primary" (click)="print()">Print</button> -->
        </div>


        <div class="form-group row">
          <label class="col-lg-3 col-form-label">Descripción</label>
          <div class="col-lg-9">
            <textarea class="form-control" rows="3" placeholder="" [(ngModel)]="anuncio.descripcion" name="descripcion" required> </textarea>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-lg-3 col-form-label">Prioridad</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" placeholder="" name="prioridad" />
          </div>
        </div>


        <div class="form-group row">
          <!-- <label class="col-lg-3 col-form-label">Publicar precios</label> -->
          <div class="col-lg-9 ml-auto">
            <mat-checkbox [(ngModel)]="anuncio.mostrar_precios" name="mostrar_precios">Mostrar precios en el anuncio</mat-checkbox>
          </div>
        </div>

        <fieldset [disabled]="!anuncio.mostrar_precios">

          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Precio</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" placeholder="" [(ngModel)]="anuncio.precio" name="precio" />
            </div>
          </div>

          <!--   <div class="form-group row">
             <label class="col-lg-3 col-form-label">Oferta</label> 
            <div class="col-lg-9 ml-auto">
              <mat-checkbox [(ngModel)]="anuncio.es_oferta" name="es_oferta">Es Oferta</mat-checkbox>
            </div>
          </div> -->

          <div class="form-group row">
            <label class="col-lg-3 col-form-label">Precio Tachado</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" placeholder="" [(ngModel)]="anuncio.precio_tachado" name="precio_tachado" />
            </div>
          </div>

        </fieldset>

        <div class="form-group row">
          <!--  <label class="col-lg-3 col-form-label">Mostrar</label> -->
          <div class="col-lg-9 ml-auto">
            <mat-checkbox [(ngModel)]="anuncio.mostrar_agregar" name="mostrar_agregar">Mostrar botón agregar</mat-checkbox>
          </div>
        </div>



      </form>

      <button type="submit" form="formAnuncio" class="btn-block" color="primary" mat-raised-button [disabled]="formAnuncio.invalid">Crear</button>

    </div>


    <div class="col-12 col-md-5">
      <h4 class="text-center">Previsualización</h4>

      <mat-card>

        <mat-card-header>
          <div mat-card-avatar style="background-size:cover" [style.background-image]="'url(' + (anuncio.avatar_src || 'assets/imgs/logo.png' ) + ')' "></div>
          <mat-card-title>{{anuncio.titulo}}</mat-card-title>
          <mat-card-subtitle>{{anuncio.fecha_publicacion|date:'longDate'}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="(img_src|| 'assets/imgs/drop-images.png')">

        <mat-card-content class="text-center">
          <p>{{anuncio.descripcion}}</p>
          <h3 *ngIf="anuncio.mostrar_precios">
            <span class="text-danger" style="text-decoration:line-through">{{anuncio.precio_tachado|currency}}</span>
            <span>{{anuncio.precio|currency}}</span>
          </h3>
          <!-- <h3>{{anuncio.precio}}</h3> -->
          <p>{{anuncio.categoria}}</p>
        </mat-card-content>

        <mat-card-actions class="text-right" *ngIf="anuncio.mostrar_agregar">
          <button type="button" mat-button>Agregar
            <i class="fa fa-shopping-cart"></i>
          </button>
        </mat-card-actions>

      </mat-card>

    </div>

  </div>


</div>