<mat-toolbar color="">
  <div class="container mb-0">
    <div class="d-flex align-items-center">
      <span>Pedidos</span>
    </div>
  </div>
</mat-toolbar>

<div class="container p15px">

  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row">
    <div class="col">

      <div class="card mat-elevation-z2">
        <div class="table-responsive">
          <table class="table table-striped my-table-sm table-align-middle">
            <thead>
              <tr>
                <th>ID Pedido</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Número</th>
                <th>#</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let pedido of pedidos">
                <td><!-- {{pedido.id}} --></td>
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.cliente_nombre}}</td>
                <td>{{pedido.cliente_email}}</td>
                <td>{{pedido.cliente_numero}}</td>
                <td>{{pedido.productos.length}}</td>
                <td class="text-right">
                  <div class="d-none d-lg-block">
                    <button mat-icon-button (click)="verCliente(pedido)">
                      <mat-icon>contact_mail</mat-icon>
                    </button>
                    <button mat-icon-button (click)="verProductos(pedido)">
                      <mat-icon>storage</mat-icon>
                    </button>
                    <button mat-icon-button (click)="verPedidoCompleto(pedido)">
                      <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delUsuario(usuario)">
                      <mat-icon>delete</mat-icon>                      
                    </button>
                  </div>

                  <div class="d-lg-none">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="verCliente(pedido)">
                        <mat-icon>contact_mail</mat-icon>
                        <span>Cliente</span>
                      </button>
                      <button mat-menu-item (click)="verProductos(pedido)">
                        <mat-icon>storage</mat-icon>
                        <span>Productos</span>
                      </button>
                      <button mat-menu-item (click)="verPedidoCompleto(pedido)">
                        <mat-icon>create</mat-icon>
                        <span>Pedido</span>
                      </button>
                      <button mat-menu-item (click)="delUsuario(usuario)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </div>



                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>

</div>