<div class="container p15px">

  <mat-card>

    <div class="row">
      <div class="col-12 col-sm-6 mb-5">
        <h5 class="list-header">Datos del Cliente</h5>

        <mat-nav-list>
          <div class="form-group row">
            <label class="col-sm-2">Nombre:</label>
            <div class="col-sm-10">
              <span>{{pedido.cliente_nombre}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Email:</label>
            <div class="col-sm-10">
              <span>{{pedido.cliente_email}}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">Teléfono:</label>
            <div class="col-sm-10">
              <span>{{pedido.cliente_numero}}</span>
            </div>
          </div>
        </mat-nav-list>
      </div>

      <div class="col-12 col-sm-6">
        <h5 class="list-header">Datos de Envio</h5>
        <mat-nav-list>



        </mat-nav-list>
      </div>
    </div>
  </mat-card>


  <div class="row py-2">
    <div class="col">
      <div class="card mat-elevation-z2 ">
        <div class="table-responsive ">
          <table class="table table-striped my-table-sm table-align-middle">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let producto of pedido.productos">
                <td>{{producto.titulo}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio|currency}}</td>
                <td>{{producto.cantidad * producto.precio|currency}}</td>

              </tr>
              <tr>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td>{{totalProductos()|currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>