<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>

  <div class="row">
    <div class="col">
      <div class="card mat-elevation-z2">
        <div class="table-responsive">
          <table class="table table-striped my-table-sm table-align-middle">
            <thead>
              <tr>

                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>

              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let producto of data.productos">
                <td>{{producto.titulo}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio|currency}}</td>
                <td>{{producto.cantidad * producto.precio|currency}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>TOTAL:</td>
                <td>
                  <strong>{{totalProductos()|currency}}</strong>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" color="primary">ACEPTAR</button>
</div>