@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "style/form-validation";
.spacer{
    flex: 1 1 auto;
}

.toolbar-fab {
    position: fixed !important;
    right: 20px;
    top:80px;
    //bottom: 10px;
    z-index: 100;
  }

/******* validacion formularios *****/