<mat-card>
  <mat-card-header>
    <div mat-card-avatar style="background-size:cover" [style.background-image]="'url(' + (anuncio.avatar_src || 'assets/imgs/logo.png' ) + ')' "></div>
    <mat-card-title>{{anuncio.titulo}}</mat-card-title>
    <mat-card-subtitle>{{anuncio.fecha_publicacion|date:'longDate'}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="(anuncio.img_src|| 'assets/imgs/drop-images.png')">

  <mat-card-content class="text-center">
    <p>{{anuncio.descripcion}}</p>
    <h3 *ngIf="anuncio.mostrar_precios">
      <span class="text-danger" style="text-decoration:line-through">{{anuncio.precio_tachado}}</span>
      <span>{{anuncio.precio}}</span>
    </h3>
    <!-- <h3>{{anuncio.precio}}</h3> -->
    <p>{{anuncio.categoria}}</p>

    <div class="mt-2">
      <button class="btn btn-outline-secondary" (click)="editarAnuncio()">Editar</button>      
      <button class="btn btn-outline-secondary" (click)="delAnuncio()">Eliminar</button>

    </div>

  </mat-card-content>
  <mat-card-actions class="text-right" *ngIf="anuncio.mostrar_agregar">
    <button type="button" mat-button>Agregar
      <i class="fa fa-shopping-cart"></i>
    </button>
  </mat-card-actions>
</mat-card>